* {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
}
.wrapper {
	min-width: 1000px;
	max-width: 1200px;
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
	background: #FFE680;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 100px;
	background: #BFF08E;
}